/*Desktop Version*/
@media only screen and (min-width: 768px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  html {
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease 0s;
    overflow-y: scroll;
  }
  .topbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    height: 23rem;
    
  }
  .recipeheader {
    background-image: url(../img/HOME-BANNER.png);
    position: relative;
    width: 100%;
    z-index: 2;
  }
  .currentSearch {
    padding-top: 20px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }
  .toolBarTop {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #231f20;
    padding: 5px;
    z-index: 8;
    margin: 0;
    white-space: normal;
    min-width: 990px;
  }
  .toolBarList {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #c8c8c8;
    list-style: none;
    height: 40px;
    z-index: 8;
  }
  .toolBarList li {
    display: inline;
    color: #c8c8c8;
    transform: translate(-50px, 0%) scale(0.9);
  }
  .toolBarLinks {
    margin: 5px;
    position: relative;
    top: -25px;
  }
  .toolBarLinks a {
    font-size: 15px;
    color: #c8c8c8;
    transition: all 250ms ease-in-out;
  }
  #logoTitle {
    padding-top: 5px;
    position: relative;
    font-style: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    color: #c8c8c8;
  }
  #logoTitle a {
    color: #c8c8c8;

    transition: all 250ms ease-in-out;
  }
  .toolBarList a:hover {
    color: white;
    transition: all 250ms ease-in-out;
    background-color: #676364;
    border-radius: 5px;
    padding: 5px;
  }
  .inputHeader {
    display: flex;
    margin-left: 35%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .hdSearch {
    width: 100%;
  }
  .hdBtn {
    padding-left: 5px;
    display: inline-block;
  }

  #filterInput {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    margin-right: 0px;
    height: 40px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 25vw;
    padding: 9px 15px;
  }
  body {
    margin: 0;
    background-color: rgb(251, 250, 245);
    line-height: 25px;
    min-width: 768px;
    height: auto;
    padding-bottom: 1px;
    padding: 0;
    overflow-x: hidden;
  }
  input {
    font-size: 1rem;
  }

  .content {
    display: flex;
    width: 100%;
    background-color: rgb(251, 250, 245);
    padding: 0;
    height: auto;
  }
  .listcontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    min-width: 50%;
    width: 75%;
    min-height: 40px;
  }
  .listcontainer > .expandlist {
    margin: 0px;
    margin-left: 10px;

    transition: 0.8s ease;
  }
  a {
    text-decoration: none;
    color: #000000;
  }

  .mainpage {
    width: 100%;
    min-width: 200px;
    z-index: 1;
    text-align: center;
  }
  .sidebar {
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }

  .open-timer {
    visibility: visible;
    transition: transform 0.4s, top 0.4s;
  }

  .open-Btn {
    visibility: visible;
    transform: translate(0%, 0%) scale(1);
  }

  .close-Btn {
    visibility: hidden;
    transform: translate(0%, 0%) scale(1);
  }

  #buttons,
  #time,
  h1,
  h2 {
    text-align: center;
  }
  #time {
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    padding: 5px;
    background-color: #fff;
    width: fit-content;
    border: 2px solid black;
    height: max-content;
  }
  h2 {
    background-color: bisque;
    color: rgb(185, 82, 77);
  }
  .logo {
    font-size: 60px;
  }
  .weightc {
    font-size: 25px;
    color: black;
    width: 100%;
    background-color: transparent;
    margin-top: 8px;
    margin-bottom: 8px;

    text-align: center;
  }
  .bothConvert {
    width: 100%;
    padding-top: 15px;
  }
  .egger {
    font-size: 25px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin: 2px;
  }
  .weightstate {
    font-size: 20px;
    margin: 2px;
  }
  .expandlist {
    padding: 20px;
  }
  ul .expandlist li {
    list-style: none;
    position: relative;
    padding: 0px;
    cursor: pointer;
  }
  .details-example {
    box-shadow: 0px 0px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    margin: 1px;
    border-radius: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100%;
    background-repeat: none;
    height: 360.75px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  .list {
      display: grid;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      text-align: center;
      list-style: none;
      width: 100%;
      padding-left: 0;  
      overflow: hidden;
    
  }
  .recipeBackground{
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.3)
  }
.recipeCardDiv{
  display: grid;
  width: max-content;
  height: 0;
  transition: left 250ms ease-in-out;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow-y: hidden;
}
#blackBackground{
  display:flex;
  width: 100vw;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  z-index: -5;
  visibility: hidden;
}
  .linklist {
    background: no-repeat center center fixed;
    width: 100%;
  }
  .navmenu {
    width: 40%;
    margin-left: 27%;
    background-color: bisque;
  }
  .navbar a {
    list-style: none;
    color: aliceblue;
    text-decoration: none;
  }
  .navbarlink {
    padding: 0;
    border: 2px solid black;
    justify-content: right;
    margin-left: 10%;
    margin-top: 0;
    padding: 0px 5px;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
  }
  .previewimg {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    width: 232px;
    height: 197.6px;
    object-fit: cover;
    margin: 0;
    border-radius: 18%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .previewimgopen {
    display: flex;
    width: 232px;
    height: 197.6px;
    transform: translate(0%, -10%);
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    border-radius: 18%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .directionBtn {
    border-radius: 15px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
  }
  .directions {
    width: 20%;
    justify-content: left;
  }
  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }

   summary ~ * {
    animation: sweep 0.5s ease-in-out;
    width: 100%;
    color: white;

    transition: height 1s ease;
  }
  .collection-header {
    align-items: center;
    list-style: none;
    display: grid;
    margin: 0;
    padding: 5px;
    max-width: 300px;
    transition: all 150ms ease;
  }

  .collectionSummary {
    align-items: center;
    list-style: none;
    display: grid;
    margin: 0;
    padding: 5px;
    width: 100%;
    max-height: min-content;
    justify-content: center;
    text-align: center;
  }
  .details-example:hover{
    
    transition: all 150ms ease;
    
    box-shadow: rgb(0, 0, 0) 0px 1px 10px 0px;
    border-radius: 15px;

    max-width: 300px;
  }
  .collection-item {
    display: table;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    text-align: left;
    justify-content: center;
    
    
  }
  .recipeCardList{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    height: min-content;
    justify-content: center;
    text-align: right;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    border-bottom: 1px solid black;
  }
  .titleWord {
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    height: max-content;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    color: black;
  }
  .container {
    display: grid;
    text-align: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 170px;
  }
  .searchables {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
  }
  .listall {
    width: 100%;
  }
  .rightSide {
    width: 100%;
    max-height: 150px;
  }
  .toolbar {
    padding-top: 0rem;

    display: inline;
    text-align: center;
  }
  h3 {
    font-size: 30px;
    text-align: center;
    translate: 0px -50px;
  }
  .kitchenTools {
    display: flex;
    justify-content: space-between;
  }
  .inputWeight::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }
  .converter {
    width: 100%;
    visibility: hidden;
    padding-bottom: 10px;
    justify-content: center;
    height: 170px;
    text-align: center;
  }
  .liquidWeight {
    padding-bottom: 20px;
  }
  label {
    padding: 20px;
  }
  .dryWeight {
    padding: 10px 5px;
    display: inline;
    width: 100%;
    justify-content: center;
    height: 170px;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .open-cnvt {
    visibility: visible;
    top: 50%;
    transform: translate(0%, 20%) scale(1);
    transition: transform 0.4s, top 0.4s;
    text-align: center;
  }
  .btnExtra{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .btn {
    border-radius: 20px;
    padding: 8px 10px;
    background-color: #fff;
  }
  .toolbtn {
    padding: 10px 30px;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    visibility: visible;
    min-width: 75px;
    box-sizing: border-box;
    text-align: right;
    border: 0;
    text-align: center;
  }
  .toolbtn:hover {
    background: rgb(75, 107, 146);
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    font-style: it;
  }
  .toolbtnhide {
    padding: 10px 10px;
    text-align: right;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    visibility: hidden;
    min-width: 75px;
    box-sizing: border-box;
    background: rgb(75, 107, 146);
    border: 0;
    text-align: center;
  }

  .toolbtnhide:hover {
    font-style: it;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }
  .open-toolbar {
    visibility: visible;
    transition: 0.9 ease;
    transform: translate(0%, -100%) scale(1);
  }
  .showconverterbtn {
    padding: 10px 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    visibility: hidden;
    text-align: right;
    min-width: 75px;
    border: 0;
    border-bottom: 1px solid black;
  }
  .showconverterbtn:hover {
    background: #c8c8c8;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    font-style: it;
  }
  .showconverterbtn:active {
    top: 3px;
    transition: all 0.2s;
  }
  .hideconverterbtn {
    padding: 10px 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    visibility: hidden;
    text-align: right;
    min-width: 75px;
    border: 0;
    text-align: center;
  }
  .hideconverterbtn:hover {
    background: #c8c8c8;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    font-style: it;
  }
  .hideconverterbtn:active {
    top: 3px;
    box-shadow: 0 2px 0px #6d4c41;
    transition: all 0.2s;
  }

  .open-cnvt {
    visibility: visible;
    transform: translate(0%, 0%) scale(1);
  }

  .close-cnvt {
    visibility: hidden;
    transform: translate(0%, 0%) scale(1);
  }

  hr {
    margin-top: 25px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
  .clearAll {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #clearMeasure {
    display: grid;
  }
  span {
    display: inline-block;
  }
  summary {
    margin-right: 5rem;

    transition: all 250ms ease-in-out;
  }
  .inputWeight {
    width: 7%;
    border-radius: 15px;
    text-align: center;
    margin-right: 1%;
  }
  .loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(0, 0, 0);
    animation: an1 1s ease infinite;
    background-color: rgb(255, 255, 255);
    display: grid;
  }
  .loadBar {
    text-align: center;
    justify-content: center;
  }
  @keyframes an1 {
    0% {
      transform: rotate(0turn);
      text-align: center;
      justify-content: center;
    }
    100% {
      transform: rotate(1turn);
      text-align: center;
      justify-content: center;
    }
  }
  .extraDetails {
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 0;
    margin: 0;
  }

  .sidePanel {
    color: rgb(0,0,0,0.0);
    padding: 0;
    margin-left: 31px;
    font-size: 18px;
    height: 197.6px;
    width: 228px;
    border-radius: 18%;
    visibility: hidden;
    padding: 5px;
    position: relative;
    transform: translate(0%, -140%) scale(1.0);
    transition: all 400ms ease-in-out;

  }
  
  .details-example:hover .sidePanel{
    
    transition: all 400ms ease-in-out;
    color: black;
    margin-left: 31px;
    visibility: visible;
    height: 197.6px;
    width: 228px;
    border-radius: 18%;
    position:relative;
    transform: translate(0%, -140%) scale(0.9);
    background-color:rgba(255, 255, 255, 0.7);
    
    
  }
  .recipeCard{
    
  text-align: center;
  width: 100%;
  }
  .open-details {
    
    transition:all 250ms ease-in-out;
    list-style: none;
    visibility: visible;
    height: max-content;
    max-height: 60vh;
    position: fixed;
    justify-content: center;
    overflow-y: scroll;
    border: 1px solid black;
    text-overflow: ellipsis;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 20%;
    margin-top: 10vh;
    width: 60%;
    background-color: #eceed8;
    border-radius: 15px;
    color:black;
    z-index: 6;
  }

  .healthinfo {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin: 0;
    padding: 10px;
    list-style: none;
  }

  .linksidebar {
    width: 15%;
    min-width: fit-content;
    margin-left: auto;
    margin-right: 0;
    padding-right: 5%;
    padding-top: 5%;
    list-style: none;
  }

  .elinks {
    text-align: center;
    list-style: none;
    border-radius: 10px;
    padding: 10px;
    min-height: fit-content;
    background-color: #adcaed;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .recipeCardLink{
    margin-top: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    padding: 9px 15px;
  }
  .hideDetails{
    margin-left: 90%;
    padding: 10px;
    
    transform: translate(0px, -10px) scale(0.9);
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    padding: 9px 15px;
    height: min-content;
  
  }
  .btn,.btnAll,.showpop,
  .directionLink,
  .showDetails {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    margin-right: 5px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    padding: 9px 15px;
  }

  .btn:hover,.btnAll:hover,.showpop:hover,
  .directionLink:hover,
  .showDetails:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: rgba(133, 133, 133, 0.861);
  }

  .btn:active,.btnAll:active,.showpop:active,
  .directionLink:active,
  .showDetails:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
  .menu-wrap {
    display: none;
  }
  .searchIcon {
    max-width: 20px;
    max-height: 20px;
  }
  .clearList {
    max-width: 20px;
    max-height: 20px;
  }
  footer {
    margin-bottom: 0px;
    bottom: 0px;
  }
  .thank {
    background-color: #231f20;
    margin-bottom: 0;
    text-align: center;
    color: #c8c8c8;
    height: 6rem;
    padding: 5px;
    padding-top: 10px;
    bottom: 0;
  }
  
}
