html {
  width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
  overflow-x: hidden;
}
body {
  padding: 0;
  background-color: bisque;
  font-family: "Roboto", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  font-size: 1rem;
}
.content {
  display: flex;
  width: 105%;
  margin: 0%;
  background-color: rgb(105, 155, 247);
  padding: 0;
  margin-bottom: -1%;
  height: auto;
}
#listcontainer {
  margin: 0px;
  padding: 0;
  background-color: antiquewhite;
  width: 40%;
  align-items: center;
  border: 3px inset rgb(44, 108, 128);
  border-radius: 3%;
  margin-right: 150px;
  overflow: hidden;
  min-width: 770px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;
}

#listdirection {
  margin: 0px;
  padding: 6px;
  background-color: antiquewhite;
  border: 3px inset rgb(44, 108, 128);
  min-width: 300px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  min-height: 40px;
  margin-right: 10rem;

  overflow: hidden;
  min-height: 300px;
  max-height: 500px;
}
.showpop{
    padding: 10px 30px;
    background: #fff;
    border:0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
}

.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  }

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}





ul .expandlist li {
  list-style: none;
  width: max-content;
  position: relative;
  background-color: rgb(241, 219, 219);
  border: 1px solid rgb(187, 131, 131);
  border-radius: 6%;
  padding: 1px rgb(0, 174, 255) rgb(94, 121, 134);
}
ul .expandlist2 li {
  list-style: none;
  position: relative;
  width: max-content;
  background-color: rgb(241, 219, 219);
  margin: 0;
}
.expandlist2 {

  margin: 0;
  padding: 5px;
}
.details-example {
  padding: 5px;
  width: fit-content;
}
.details-example:hover {
  background-color: #ccbbbb;
  border-radius: 6%;
  transition: 0.5s 0.9 ease;
}
.sidebar {
  margin-right: auto;
  max-width: 500px;
  padding-bottom: 17%;
  padding-left: 8%;
  box-sizing: border-box;
}
.topbar {
  padding: 40px;
  width: 100%;
  background-color: rgb(105, 155, 247);
  background-image: linear-gradient(bisque, rgb(105, 155, 247));
}
.linklist {
  background: no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.navmenu {
  width: 40%;
  margin-left: 27%;
  background-color: bisque;
}
.navbar a {
  list-style: none;
  color: aliceblue;
  text-decoration: none;
}
.navbarlink {
  padding: 0;
  border: 2px solid black;
  justify-content: right;
  margin-left: 10%;
  margin-top: 0;
  padding: 0px 5px;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  border-radius: 40px;
}
#filterInput {
  margin-left: 42%;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.previewimg {
  border-radius: 15px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.directions {
  width: 20%;
  justify-content: left;
}
.collection-header {
  align-items: center;
  max-width: 770px;
}
.collection-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}
.imgandlink {
  display: flex;
  flex: 1;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  padding: 0 10px 10px 0;
}
.recipeheader {
  margin-top: -1%;
  background-repeat: no-repeat;
}

.container {
  display: block;
  position: initial;
  top: 400px;
  border-radius: 15%;
  background-color: antiquewhite;
  padding: 20px;
  border: 2px solid black;
}
.searchables {
  display: flex;
  padding-bottom: 50px;
}
.collection-header2 {
  max-width: 33ch;
  max-height: 90ch;
  overflow: hidden;
}
#listdirection {
  position: relative;
}

.main-scroll-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover {
  position: relative;
  width: 90%;
  height: 50%;
}

.cover::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 180px;
  background-image: linear-gradient(90deg, bisque, transparent);
}

.cover::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 160px;
  background-image: linear-gradient(-90deg, bisque, transparent);
}

.scroll-images {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.child {
  min-width: 190px;
  height: 200px;
  margin: 1px 10px;
  cursor: pointer;
  border: 1px solid rgba(207, 201, 201, 0.3);
  overflow: hidden;
}

.child-img {
  width: 100%;
  height: 100%;
}

.icon {
  color: rgb(2, 34, 3);
  background-color: bisque;
  font-size: 50px;
  outline: none;
  border: none;
  padding: opx 20px;
  cursor: pointer;
}

.icon:hover {
  color: rgb(126, 126, 22);
}
.listall{
  
  margin-left: 45%;
  padding-top: 10px;
  width: 65px;
  border-radius: 12%;
  margin-bottom: -30px;
}
